@media only screen and (min-width: 768px) {
  .step-card {
    border-top: 2px solid;
    border-color: #d6083b !important;
    margin: 0;
  }

  .step-card:nth-child(odd) {
    border-left: 2px solid;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0;
  }

  .step-card:nth-child(even) {
    border-right: 2px solid;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
    padding-left: 0;
  }

  .step-card:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .step-card:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
