* {
  margin: 0px;
  padding: 0px;
  font-family: "Be Vietnam Pro", sans-serif;
}
a,
.nav-link,
Link {
  color: #000 b !important ;
  text-decoration: none !important;
}
a:hover {
  color: brown;
  border-bottom: 1px solid brown;
}
.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
